node_modules
dist
.tmp

debug.log
.idea
.project

!bower_components/echarts/
!bower_components/angular-mapbar-map/
bower_components/*
/bower_components

src/assets/config/config.js

.zip/
.zip/*.zip
.bak

package-lock.json
CI.json