//sidebar
$themeColor: #2DCA93;
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

$menu-width: 240px; //侧边栏宽度大于1366px
$menu-width1366px: 200px; //侧边栏宽度 1080px ~ 1366px
$hidden-width: 60px; //收缩后宽度