<div class="block manager mainRole">
    <div class="selector">
        <div class="field">
            <div class="ib">
                <label>账号名称</label>
                <input type="text" class="form-control" ng-model="user.inputText"/>
            </div>
        </div>
        <div class="action" style="padding-top: 5px;">
            <button class="btn btn-primary" ng-click="user.page.pageIndex=1;user.getList()">查询</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="app-list-grid pd10">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>账号</th>
                <th>联系方式</th>
                <th>角色类型</th>
                <th>部门</th>
                <th>创建时间</th>
                <th>创建人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="obj in user.list">
                <td>{{obj.name}}</td>
                <td>{{obj.telephone}}</td>
                <td>{{obj.roleName}}</td>
                <td>{{obj.departName}}</td>
                <td>{{obj.createTime}}</td>
                <td>{{obj.creatorName}}</td>
                <td>
                    <a ng-click="user.edit(obj)">编辑</a>
                    <!--&nbsp;&nbsp;&nbsp;&nbsp;
                    <a ng-click="user.delete(obj.id,obj.name)">删除</a>-->
                </td>
            </tr>
            <tr ng-if="list.length==0">
                <td colspan="8">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
    <wd-page-number total="user.page.total" page-size="user.page.page_size" page-index="user.page.page_number" query="user.flip"></wd-page-number>
</div>
