page-order-check {
    .scroll-content {
        background-color: #FFFFFF;
        .row {
            padding: 0 1rem;
            .sub {
                margin-top: 5px;
                line-height: 40px;
                padding-top: 0 !important;
                color: $base-nav-bgcolor !important;
                font-size: 15px !important;
            }
            .col {
                padding: 0;
                select-photo {
                    .photo {
                        height: 6rem;
                        width: 31%;
                        display: inline-flex;
                        justify-content: center;
                        padding: 0 !important;
                        margin: 10px 0 0 3%;
                        .remove {
                            top: -8px;
                            right: -8px;
                        }
                        img{
                            width: 100%;
                            height: inherit;
                        }
                    }
                    .photo:nth-child(3n+1) {
                        margin-left: 0;
                    }
                }
                .button-ios {
                    margin-top: 1.5rem;
                    height: 3.6rem;
                }
            }
            .col:nth-child(3){
                textarea {
                    padding: 0;
                    height: 8rem;
                }
                .show-orange {
                    color: #fda51e;
                }
                span {
                    display: block;
                    float: right;
                    color: #666666;
                }
            }
        }
        .row:first-child {
            padding-top: 5px;
        }
    }
}