page-order-list {
    margin: 0 auto;

    .scroll-content {
        padding: 0 1rem !important;
    }
    .row {
        align-items: stretch;
        justify-content: space-between;
    }
    .searchbar {
        background-color: #fff;
        height: 3.8rem;
        width: 20rem;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        .searchbar-search-icon {
            top: 0.7rem;
            width: 1.6rem;
            height: 1.6rem;
            background-size: 1.6rem;
        }
    }
    .list-item {
        margin-top: 1rem;
        padding: 1rem 1rem 0.6rem;
        border-radius: $border-radius;
        p {
            font-size: 1.2rem;
        }
        h2 {
            font-size: 1.6rem;
        }
        .input-wrapper{
            .item-block {
                margin-top: 3px;
            }
        }
    }
    .item-block {
        min-height: 1.2rem !important;
    }
    .label {
        margin: 0 !important;
    }
    ion-label {
        padding: 0.1rem;
    }
    .item {
        ion-icon {
            font-size: 2rem;
            margin: 0 0.3rem 0 0 !important;
            min-height: 0;
        }
    }
    .item-right {
        position: absolute;
        top: 0;
        right: 0;
    }
    .button {
        height: 3.7rem;
    }
    .item>ion-icon:first-child,
    .item-inner>ion-icon:first-child {
        min-width: 0 !important;
    }
    .border-right {
        border-right: 1px solid #C8C7CC;
        padding-right: 1.5rem;
        margin-right: 0 !important;
    }
    
    .order-button{
        display: block;
        width: 100%;
        position: relative;
        background-color: #FFFFFF;
        padding-bottom: 1rem;
        padding-right: 2rem;
        button{
            float: right;
            background: none;
            color: #4db2ff;
            border: solid 1px #4db2ff;
            border-radius: 15px;
            font-size: 15px;
            letter-spacing: 1px;
            padding: 6px 12px 5px; 
        }
        button:first-child{
            margin-left: 1rem;
        }
        button:active{
            background-color: #4db2ff !important;
            color: #FFFFFF;
        }
    }
}