<div class="alarm-map-overlay" id="{{elementID}}">
	<div class="title">
		<span>{{ params.alarmTypeName }}</span>
		<span class="close-icon" ng-click="close()">
			<img width="12px" src="./assets/images/icon_30.png">
		</span>
	</div>
	<div class="content">
		<div class="row">
			<div class="col-md-12" ng-if="hasFile">
				<section class="swipe">
					<swiper ng-if="change">
						<slides>
							<slide ng-repeat="item in fileUrls track by item.id">
								<img ng-if="item.isImg" ng-src="{{ item.videoUrl }}" width="320" height="200" alt="">
								<video style="padding-bottom: 10px;" ng-if="!item.isImg" ng-src="{{ item.videoUrl }}" width="320" height="200" controls="controls"></video>
							</slide>
						</slides>
						<prev></prev>
						<next></next>
						<pagination></pagination>
					</swiper>
				</section>
			</div>
			<div class="col-md-12 text-row">
				<span>司机：</span>
				<span class="force-text-wrap">{{ params.driverName }}</span>
			</div>
			<div class="col-md-12 text-row">
				<span>车速：</span>
				<span class="force-text-wrap">{{ params.carSpeed }} km/h</span>
			</div>
			<div class="col-md-12 text-row">
				<span>时间：</span>
				<span class="force-text-wrap">{{ params.alarmTime }}</span>
			</div>
			<div class="col-md-12 text-row">
				<span>地点：</span>
				<span class="force-text-wrap" we-location lat="params.lat" lng="params.lon"></span>
			</div>
		</div>
	</div>
	<div class="foot">
		<button class="btn btn-default fr" ng-click="close()">确定</button>
	</div>
</div>
<!--block-ui="alarmMapblock"-->