html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
	background-color: rgb(5, 18, 41);
}

.ib {
	display: inline-block;
}

p {
	margin-bottom: 0 !important;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}