<div class="app-common">
  <div class="modal-header">
    <h5 class="modal-title">
      <i class="glyphicon glyphicon-cloud-download"></i>导出到邮箱
    </h5>
    <button type="button" class="close closeButton" ng-click="toCancel()"><span><img src="./assets/images/icon_30.png"></span></span></button>
  </div>
  <form name="export_form" class="form-horizontal"  ng-submit="submit()">
    <div class="modal-body">
      <div class="col-xs-offset-1">
        <div class="form-group">
          <label class="col-xs-2 control-label" for="email">邮箱</label>
          <div class="col-xs-8">
            <input class="form-control"  ng-pattern="$root.validators.email.regex" ng-required="true" name="email" id="email" placeholder="请输入邮箱"  ng-model="email" type="text" required />
            <div class="pdt10" ng-show="form.email.$dirty">
              <span class="invalid-message" ng-show="form.email.$error.required">请输入发票号</span>
              <span class="invalid-message" ng-show="form.email.$error.pattern">{{$root.validators.email.message}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary wh90" type="submit"  ng-disabled="export_form.$invalid||requesting">确定</button>
      <button ng-click="toCancel()" type="reset" class="btn btn-default wh90" >取消</button>
    </div>
  </form>
</div>